* {
}
.center {
  position: absolute;
  left: 25%;
  color: cadetblue;
  width: 50%;
  height:50%;
  bottom: 25%;
}

.App {
  text-align: center;
  color: cadetblue;
}

.name {
  color: cadetblue;
  text-align: center;
}
a {
  color:inherit;
  text-decoration: none;
}
