* {
  font-family: 'Courier New', monospace;
}

.center {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: cadetblue;
  font-family: 'Courier New', monospace;
}

.centerbottom {
  color:black;
  font-family: 'Courier New', monospace;
  padding-top: 10px;;
}

.name {
  color: black;
  text-align: center;
}
a {
  color:inherit;
  text-decoration: none;
}

.first-last-name {
  font-size: larger;
}

