

.center {
  position: absolute;
  left: 25%;
  color: cadetblue;
  width: 50%;
  height:50%;
  bottom: 25%;
  min-width: fit-content;
  min-height: fit-content;
padding-inline: 1rem;
}

.App {
  text-align: center;
  color: cadetblue;
}

.name {
  color: cadetblue;
  text-align: center;
}

a {
  color:inherit;
  text-decoration: none;
  padding-left:.5rem;
}

.first-last-name {
  font-size:xx-large;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.icons {
  padding: 1.5rem;
}